body {
    font-family: Roboto, RobotoDraft, Arial, Helvetica, sans-serif;
    background-color: rgba(0, 134, 134, 0.637);
}
h1 {
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px green 0 0 5px darkgreen;
}
p.intro {
    border-radius: 25px;
    border: 2px solid limegreen;
    padding: 20px;
    background-color: aquamarine;
}

html{
    zoom: 100%;
}

.divstyle{
margin-top: 60px;
text-align: center;
}   
.inputstyle {
border-radius: 20px;
height: 25px;

}
.searchimg{
height: 21px;
width: 21px;
vertical-align: middle;
margin-right: 80px;
}


