html{
    zoom: 100%;
}

body{
    background-image: url("bg.jpg");
    background-size: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* overflow: hidden; */
    margin: 0;
    font-family: 'Pokemon Solid', sans-serif;
}

.divstyle{
margin-top: 60px;
text-align: center;
}   

.inputstyle {
border-radius: 5px;
height: 25px;

}

.inputstyle2 {
    border-radius: 5px;
    background-color: rgba(168, 14, 147, 0.438);
    margin: 20px;
    padding: 10px;
}

.inputstyle3 {
    border-radius: 5px;
    background-color: rgba(234, 0, 255, 0.644);
    padding: 10px;
}

.createplaylistdiv{
    margin-top: 60px;
    text-align: center;
} 

.searchimg{
height: 21px;
width: 21px;
vertical-align: middle;
margin-right: 80px;
}

.deleteplaylistimg{
    height: 30px;
    width: 30px;
    vertical-align: middle;
}

.Addplaylistimg{
    height: 21px;
    width: 21px;
    vertical-align: middle;
    margin-right: 80px;
}

.ulstyle{
    list-style-type: none;
    align-items: center;
    vertical-align: middle;
    text-align: center;
}

.listyle{
    float: left;
    align-items: right;
    vertical-align: right;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
    display: inline;
}

.slide-fade .listyle {
    transition: all 0.4s ease-out;
    opacity: 0;
  }
  
  .slide-fade .listyle.show {
    opacity: 1;
  }

.GenresearchStyle{
    font-family: 'Papyrus', fantasy ;
    font-size-adjust: inherit;
    background-color: rgba(216, 55, 208, 0.623);
    border-radius: 10px;
    border-color: gold;
    text-align: left;
    justify-content: center;
    height: 300px;
    width: 200px;
    padding: 40px;
    
}

.ArtistsearchStyle{
    font-family: 'Papyrus', fantasy ;
    font-size-adjust: inherit;
    background-color: rgba(216, 55, 208, 0.623);
    border-radius: 10px;
    text-align: left;
    justify-content: center;
    height: 400px;
    width: 270px;
    padding: 40px;
    
}

.TracksearchStyle{
    font-family: 'Papyrus', fantasy ;
    font-size-adjust: inherit;
    background-color: rgba(216, 55, 208, 0.623);
    border-radius: 10px;
    text-align: left;
    justify-content: center;
    height: 450px;
    width: 240px;
    padding: 40px;
    
}

.TrackPlaylistStyle{
    background-color: rgba(147, 94, 182, 0.582);
    border-radius: 20px;
    text-align: center;
    justify-content: center;
    height: 300px;
    width: 240px;
    padding: 40px;
    
}

.searchimgstyle{
    width: 110px;
    height: 110px;
    margin-bottom: 15px;
    padding: 0px;
    
    }


.searchdiv{
padding: 10;
align-items: center;
text-align: center;
}

.playlistdiv{
    
    align-items: center;
    text-align: center;
    width: fit-content;
    height: fit-content;
    display: inline-block;

}

.playlistitemdiv{
    border-radius: 20px;
    margin: 20px;
    background-color: rgba(104, 0, 14, 0.568);
    display: inline-block;
    width: 1080px;
    height: max-content;
    align-items: center;
    text-align: center;
}



.imgdivstyle{
    background-color: rgba(56, 117, 209, 0.877);
    border-radius: 900px;
    text-align: center;
    display: flex;
    justify-content: center;
    box-shadow: 50px;
}


.imgstyle{
    margin-left: 20px;
    margin-top: 250px;
    height: 150px;
    width: 150px;
}


.xdiv{
display: inline-block;
}