html{
    zoom: 100%;
}
body{
    background-color: rgba(0, 255, 255, 0.13);
}
.divstyle{
margin-top: 60px;
text-align: center;
}   
.inputstyle {
border-radius: 20px;
height: 25px;

}

.inputstyle2 {
    border-radius: 20px;
    background-color: rgba(0, 255, 255, 0.13);
    margin: 20px;
    padding: 10px;
}

.inputstyle3 {
    border-radius: 20px;
    background-color: rgba(0, 255, 255, 0.13);
    padding: 10px;
}
.searchimg{
height: 21px;
width: 21px;
vertical-align: middle;
margin-right: 80px;
}

.ulstyle{
    list-style-type: none;
    align-items: center;
    vertical-align: middle;
    text-align: center;
}
.listyle{
    float: left;
    align-items: center;
    vertical-align: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
    display: inline;
}
.GenresearchStyle{
    background-color: rgba(184, 255, 231, 0.877);
    border-radius: 20px;
    text-align: center;
    justify-content: center;
    height: 210px;
    width: 210px;
    padding: 40px;
    
}

.ArtistsearchStyle{
    background-color: rgba(184, 255, 231, 0.877);
    border-radius: 20px;
    text-align: center;
    justify-content: center;
    height: 340px;
    width: 240px;
    padding: 40px;
    
}

.TracksearchStyle{
    background-color: rgba(184, 255, 231, 0.877);
    border-radius: 20px;
    text-align: center;
    justify-content: center;
    height: 450px;
    width: 240px;
    padding: 40px;
    
}

.TrackPlaylistStyle{
    background-color: rgb(184, 255, 231);
    border-radius: 20px;
    text-align: center;
    justify-content: center;
    height: 300px;
    width: 240px;
    padding: 40px;
    
}

.searchimgstyle{
    width: 110px;
    height: 110px;
    margin-bottom: 15px;
    padding: 0px;
    
    }


.searchdiv{
padding: 10;
align-items: center;
text-align: center;
}

.playlistdiv{
    
    align-items: center;
    text-align: center;
    width: fit-content;
    height: fit-content;
    display: inline-block;

    }

.playlistitemdiv{
    border-radius: 20px;
    margin: 20px;
    background-color: rgba(184, 255, 231, 0.568);
    display: inline-block;
    width: 1080px;
    height: max-content;
    align-items: center;
    text-align: center;
    }















.imgdivstyle{
    background-color: rgba(184, 255, 231, 0.877);
    border-radius: 900px;
    text-align: center;
    display: flex;
    justify-content: center;
    box-shadow: 50px;
}


.imgstyle{
    margin-left: 20px;
    margin-top: 250px;
    height: 150px;
    width: 150px;
}










.xdiv{
display: inline-block;
}